<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Hi! Welcome to Columbia University!</h1>
  <h3>Select a school from the list below where you came from, find student and professor who came from the same school!</h3>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="stuni">Go to find student information page</a></p>
<p><a href="club">Go to find club information page</a></p>


<form method="POST" action="/prevschool">
<p>Which school above do you come from: <input type="text" name="name"> <input type="submit" value="find"></p>
</form>

</body>


</html>
