<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>TransferLink</h1>
  <p>Select a school from the list below where you came from, find student and professor who came from the same school!</p>

<div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<form method="POST" action="/prevschool">
<p>Which school above do you come from: </p>
	<input type="text" name="name"> <input type="submit" value="find">
</form>


<p><a href="stuni">Go to find student information page</a></p>
<p><a href="club">Go to find club information page</a></p>
<p><a href="course">Go to find course information page</a></p>
<p><a href="research">Go to find research information page</a></p>
<p><a href="prof">Go to find professor information page</a></p>
</body>


</html>
