<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>TransferLink</h1>
  <p>Select a department name from the list below and get the name of professor who advised transfers before and their research fields</p>

<form method="POST" action="/profinfo">
	<select name="name">
	
		{% for n in data %}
    		{<option value="{{n}}">{{n}}</option>}
    		{% endfor %}
	
	</select>
	<br><br>
	<input type="submit" value="find">
	<br><br>
</form>


<p><a href="/">Go back to the index page</a></p>


</body>


</html>
